<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>

<body>
    <h1 style="text-align: center; margin: 10px 0 25px 0;" class="display-3">Ferramentas Alocadas</h1>
    <main>
        <div class="table-rent">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Ferramenta</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Devolução</th>
                        <th scope="col">No prazo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each expiredDevolutionTools}}
                        <tr>
                            <td style="color: red;">{{ this.toolNameExpirated }}</td>
                            <td style="color: red;">{{ this.clientNameExpirated }}</td>
                            <td style="color: red;">{{ this.dateDevolutionExpirate }}</td>
                            <td style="text-align: center; background-color: inherit;">
                                <img src="/img/notDeliveredImg.png" width="20px">
                            </td>
                            <td style="color: red;">
                                <form action="/rentTool/deleteRent/{{ this.idRent }}/{{ this.idTool }}" method="POST">
                                    <button style="border: none; background-color: inherit;">Entregar</button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                    

                    {{#each tableToolsRented }}
                    {{#if this}}
                        <tr>
                            <td>{{ this.toolName }}</td>
                            <td>{{ this.clientName }}</td>
                            <td>{{ this.dateDevolution }}</td>
                            <td style="text-align: center; background-color: inherit;">
                                <div class="delivered-btn-form">
                                    <img src="/img/deliveredImg.png" width="20px">
                                </div>
                            </td>
                            <td style="color: red;">
                                <form action="/rentTool/deleteRent/{{ this.idRent }}/{{ this.idTool }}" method="POST">
                                    <button style="border: none; background-color: inherit;">Entregar</button>
                                </form>
                            </td>
                        </tr>
                        {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>  
    </main>
    
</body>

</html>